@model IEnumerable<P11WebAPI.P11DbModel.M_PlayerTypeMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerTypeIcons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <img src="data:image/png;base64,@item.PlayerTypeIcons" width="50" height="50" class="img-responsive" />
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayerTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlayerTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayerTypeID })
        </td>
    </tr>
}

</table>
