@model IEnumerable<P11WebAPI.P11DbModel.T_LiveMatchUpdateInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Match")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.M_MatchInfoMaters.MatchLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.M_MatchTopicMaster.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Images)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.M_MatchInfoMaters.Team1) - @Html.DisplayFor(modelItem => item.M_MatchInfoMaters.Team2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_MatchInfoMaters.MatchLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_MatchTopicMaster.Topic)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Images)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MatchUpdateID }) |
            @Html.ActionLink("Details", "Details", new { id = item.MatchUpdateID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MatchUpdateID })
        </td>
    </tr>
}

</table>
