@model IEnumerable<P11WebAPI.P11DbModel.M_MatchInfoMaters>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Match Info </h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.M_TeamInfoMaster.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.M_TeamInfoMaster1.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatchDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatchLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalOverMatch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiveWatchingCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.M_TeamInfoMaster.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_TeamInfoMaster1.TeamName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem =>*@ @item.MatchDate.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatchLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalOverMatch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LiveWatchingCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MatchID }) |
            @Html.ActionLink("Details", "Details", new { id = item.MatchID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MatchID })
        </td>
    </tr>
}

</table>
