@model P11WebAPI.P11DbModel.T_RunningMatchInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.M_MatchInfoMaters.M_TeamInfoMaster.TeamName - @Model.M_MatchInfoMaters.M_TeamInfoMaster1.TeamName Live Match Details</h2>
<hr />
<div class="container-fluid p-2 m-2">
    @*<h4>T_RunningMatchInfo</h4>*@
    <div class="h3 text-right float-right" style="position:relative;">@Html.DisplayNameFor(model => model.M_MatchInfoMaters.MatchLocation) : @Model.M_MatchInfoMaters.MatchLocation</div>
    <div class="clearfix"></div>
    @(new HtmlString(Model.MatchDescription))
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
